body {
    margin: 0;
    img {
        max-height: 100%;
    }
    header {
        display: flex;
        align-items: center;
        background-color: #424242;
        color: #FFF;
        font-family: PT Sans, sans-serif;
        * {
            display: inline-block;
            font-size: 1.1em;
            vertical-align: middle;
            margin: 0;
        }
        h1 {
            font-family: Vladimir Script, sans-serif;
            font-size: 2.5em;
            margin-left: 3em;
        }
        ul {
            text-align: center;
            li {
                display: inline-block;
                color: #C3C3C3;
                margin-left: 1em;
            }
            li:hover {
                color: #FFF;
            }
            li:active {
                color: #FFF;
            }
            li.selected {
                color: #FFF;
            }
        }
        button {
            color: #C3C3C3;
            border: solid 0px transparent;
            background-color: transparent;
            padding: .5em 1.5em;
            font-weight: 600;
            letter-spacing: 1px;
        }
        button.active {
            background-color: #FE2F90;
            color: #FFF;
        }
        .right {
            margin-left: auto;
            margin-right: 3em;
            .cart {
                img {
                    height: 2em;
                    width: 2em;
                    object-fit: contain;
                    position: relative;
                }
                p {
                    height: 1em;
                    width: 1em;
                    background-color: #FE2F90;
                    border-radius: 999em;
                    text-align: center;
                    padding: .2em;
                    position: absolute;
                }
            }
        }
    }
}