main {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto 0;
  font-family: PT Sans, sans-serif;
}

/* DE CSS DIE IK HEB GEBRUIKT! */
.aanbieding {
    position: relative;
    border: 0.8px solid black;
    width: 100%;
    height: 100px;
    padding: 20px 0;
}

.aanbieding__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aanbieding .title {
  color: #666666;
  font-size: 1.4em;
  margin: 0;
}

.aanbieding h4 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.overzicht {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 20px 0;
}

.product {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 20px;
  background-color: rgb(54, 54, 54);
}

.product__price {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 1.3em;
  padding: 5px 10px;
}

.product__image {
  position: relative;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.product__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}